<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>让我帮你百度一下 | Let Me Baidu That For You</title>
    <meta name='description' content='输入一个问题，然后点击百度一下。|本站与百度公司没有任何联系，baidu 以及本站出现的百度公司 Logo 是百度公司的商标。'>
    <meta http-equiv='content-language' content='zh-cn'>
    <link rel="shortcut icon" href="../static/baidu/favicon.ico" th:href="@{/baidu/favicon.ico}"/>
    <link rel="stylesheet" href="../static/baidu/style.css" th:href="@{/baidu/style.css}"/>

    <script src="../static/baidu/jquery.min.js" th:src="@{/baidu/jquery.min.js}"></script>
    <script src="../static/baidu/base64.min.js" th:src="@{/baidu/base64.min.js}"></script>
    <script src="../static/baidu/clipboard.min.js" th:src="@{/baidu/clipboard.min.js}"></script>
    <script src="../static/baidu/script.js" th:src="@{/baidu/script.js}"></script>
    <style type="text/css">a {text-decoration: none}</style>
    <script>
(function(){
var el = document.createElement("script");
el.src = "https://sf1-scmcdn-tos.pstatp.com/goofy/ttzz/push.js?2ccacc4530787789e6851fe1b9f1f45f2b407854e24632bca743d6965f475706536149a619e9abc145d3e7325a3542bacab49d8c4a0113bbf5d62f018a5433d278dc2920b735e561db96c3429e6855ae";
el.id = "ttzz";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(el, s);
})(window)
</script>
</head>
<body>
<section id="search">
    <div class="search-header">
        <h2> <span class="let-me">让我帮你</span> <img src="../static/baidu/baidu_logo.png" th:src="@{/baidu/baidu_logo.png}" alt="百度" title="让我帮你百度一下" /> <span class="for-you">一下</span></h2>
    </div>
    <form id="search-form">
        <div class="search-form-group">
            <div class="search-form-input">
                <input type="search" id="kw" maxlength="255" autocomplete="off" required="" />
            </div>
            <button id="search-submit">百度一下</button>
        </div>
    </form>
</section>
<section id="function">
    <h1 id="tips">输入一个问题，然后点击百度一下</h1>
    <div id="output">
        <textarea id="url-output" rows="3" readonly=""></textarea>
        <div class="tool-btns">
            <button data-clipboard-target="#url-output">复制</button>
            <button id="preview">预览</button>
        </div>
    </div>
</section>
<footer id="footer">
    <p class="copyright">本站与百度公司没有任何联系，baidu 以及本站出现的百度公司 Logo 是百度公司的商标</p>
    <p class="copyright">您的IP：<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script><script type="text/javascript">document.write(returnCitySN["cip"])</script></p>
    <p class="copyright"><script>var mydate = new Date();document.writeln("COPYRIGHT&nbsp;&copy;&nbsp;2021 - "+mydate.getFullYear()+'&nbsp;<a target="_blank" href="http://www.nianbroken.top/">Slcp_NIAN</a><br />ALL&nbsp;RIGHTS&nbsp;RESERVED');</script></p>
    <p class="copyright">你在阳光下盛放 而我在阴郁的天空下自得其乐</p>
    <p class="copyright"><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279895006'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279895006' type='text/javascript'%3E%3C/script%3E"));</script></p>
</footer>
<div id="arrow"></div>
</body>
</html>