<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="keywords" content="标签,Slcpの标本屋"/>
    <title>Slcpの标本屋</title>
    <link rel="stylesheet" href="../static/css/blog.min.css" th:href="@{/css/blog.min.css}">
    <head th:replace="~{common :: .head}"></head>
</head>
<body>
<div th:replace="~{common :: .top}"></div>
<div id="tagImg" class="bg-cover pd-header about-cover"
     style="height: 120vh;background-image: url(https://img.slcp.top/ft/IMG_3400.PNG)">
    <div data-aos="fade-right" data-aos-delay="1100" class="about-tag-about hide-on-med-and-down">
        <div class="V-title">
            <span>&quot;tags&quot;</span>
        </div>
    </div>
    <div data-aos="fade-left" data-aos-delay="1100" class="hide-on-med-and-down">
        <div class="V-title">
            <span class="about-tag-Slcp">&quot;Slcp&quot;</span>
            <span class="about-tag-blog">&quot;blog&quot;</span>
        </div>
    </div>
    <div class="center-align about-typed">
        <div class="Z-title">
            <span>标本屋</span>
        </div>
        <span id="subtitle" style="font-size:28px;"></span>
    </div>
    <div class="hide-on-large-only center-align m-V-img" style="width: 100vw" data-aos="zoom-in" data-aos-delay="1100">
        <div class="V-title m-V-title">
            <span>&quot;tags&quot;</span>
        </div>
    </div>
</div>
<main class="content">
    <div id="tags" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="center-align">
                    <div class="V-title V-title-top">
                        <span><i class="fa fa-tags"></i></span><span>&nbsp;&nbsp;分类 🎢</span>
                    </div>
                </div>
                <hr data-aos="fade-right">
                <div class="tag-chips">
                    <a th:each="tag : ${tags}" th:href="@{/tags/{id}#articles(id=${tag.tagId})}">
                    <span class="chip center-align waves-effect waves-light
                             chip-default" th:style="${tag.color}">♪&nbsp;&nbsp;
                        <span th:text="${tag.tagName}">多线程</span>
                        <span class="tag-length" th:text="${tag.sum}">4</span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <article id="articles" class="container articles" th:if="${pageInfoSize}>0">
        <div class="row tags-posts">
            <div class="article tag-post col s12 m6 l4 aos-init aos-animate" data-aos="zoom-in" th:each="blog : ${pageInfo}">
                <div class="card">
                    <a th:href="@{/article/read/{id}(id=${blog.id})}">
                        <div class="card-image tag-image">
                            <img class="responsive-img lazyload" th:href="@{/article/read/{id}(id=${blog.id})}" src="../static/images/common/orange.progress-bar-stripe-loader.svg" th:src="@{/images/common/orange.progress-bar-stripe-loader.svg}" data-src="../static/images/backimg1.jpg" th:data-src="@{${blog.firstPicture}}" th:alt="${blog.title}">
                            <span class="card-title" th:text="${blog.title}">SpringCloud学习(3)-Ribbon和Feign</span>
                            <div class="box-content">
                                <h3 class="title">阅读全文</h3>
                                <span class="post" th:text="${blog.title}">SpringCloud学习(3)-Ribbon和Feign</span>
                            </div>
                        </div>
                    </a>
                    <div class="card-content article-content">
                        <div class="publish-info">
                            <span class="publish-date">
                                <i class="far fa-calendar-minus"></i>&nbsp;<span th:text="${#dates.format(blog.createTime,'yyyy年MM月dd日')}">2020年06月10日</span>
                            </span>
                            <span class="publish-author">
                                <i class="fa fa-bookmark fa-fw icon-category"></i>
                                <a th:href="@{/article/category?name={name}(name=${blog.typeName})}" th:text="${blog.typeName}" class="post-category">
                                     后端
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
<div th:include="~{common :: .floor-top}"></div>
<footer class="page-footer center-align">
    <div class="container">
        <div class="copyright" style="position: relative;top: 60px">
            <div th:include="~{common :: .floor}"></div>
            <div id="blog-message">
                <div th:fragment="blogMessage">
                    <div class="V-badge" title="您所在的IP地址">
                        <span class="badge-subject">Y-IP</span><span class="badge-value bg-dm" id="ip"></span>
                    </div>
                    <!--<div class="V-badge" title="您所在的地理位置">
                        <span class="badge-subject">GPS</span><span class="badge-value bg-bi" id="address"></span>
                    </div>
                    <div class="V-badge" title="您所在的纬度">
                        <span class="badge-subject">LAT</span><span class="badge-value bg-dmt" id="lat"></span>
                    </div>
                    <div class="V-badge" title="您所在的经度">
                        <span class="badge-subject">LON</span><span class="badge-value bg-cc" id="lon"></span>
                    </div>-->
                    <script>
                        var str = {};
                        $.get("https://api.ipify.org", function (data, status) {
                            if ("success" == status) {
                                document.getElementById("ip").innerText = data;
                                /*document.getElementById("address").innerText = data.regionName + data.city;
                                document.getElementById("lat").innerText = data.lat;
                                document.getElementById("lon").innerText = data.lon;*/
                            }
                        });
                    </script>
                    <div class="V-badge" title="文章总数">
                        <span class="badge-subject">AC</span><span class="badge-value bg-ms"
                                                                   th:text="${blogTotal}"></span>
                    </div>
                    <div class="V-badge" title="访问总数">
                        <span class="badge-subject">PV</span><span class="badge-value bg-ba"
                                                                   style="background-color:	#FFA07A"
                                                                   th:text="${blogViewTotal}"></span>
                    </div>
                    <div class="V-badge" title="运行时间">
                        <span class="badge-subject">Running</span><span th:text="${blogDays}" id="runningTime"
                                                                        class="badge-value bg-lc"
                                                                        style="background-color:#a4a492"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="footer-skirt" src="../../static/images/my/skirt.webp" th:src="@{/images/my/skirt.webp}">
</footer>
<div th:replace="~{common :: .floor-js}"></div>
<div th:replace="~{common :: .svg}"></div>
</body>
</html>